body{
  margin: 0;
  padding: 0;
  background: #444;
}

.nav-container {

}
.nav {
  background-color: #333;
  padding: 0;
  margin: 0;
}

.left-nav-menu {
  width: 60%;
  display: inline-block;
  background-color: #444;
}

.right-nav-menu {
  width: 40%;
  display: inline-block;
  background-color: #444;
  vertical-align: top;
 }

.left-nav-menu ul {
  list-style: none;
  text-align: center;
  background-color: #444;
  /*padding: 0;
  margin: 0;*/
}
.left-nav-menu li {
  font-family: 'Oswald', sans-serif;
  width: 20%;
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  /*border-bottom: 1px solid #888;*/
}
.right-nav-menu ul {
  list-style: none;
  text-align: center;
  background-color: #444;
  /*margin-top: -5%; */
}
.right-nav-menu li {
  font-family: 'Oswald', sans-serif;
  width: 30%;
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  /*border-bottom: 1px solid #888;*/
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #000;
}
.nav a.active {
  background-color: #999;
}


.book-body{
  top: 20%;
  background-color: #999;
  border-radius: 3px;
  height: auto;
  min-height: 400px;
  display: flex;
  padding: 1em;
}

.add-book-body {
  width: 70%;
  border: 1px solid #555;
  /*position: absolute;*/
  height: auto;
  margin: 0 0.5em;
}

.add-book-container {
  margin: 1%;
  width: 70%;
  display: inline-block;
}

.add-book-container table {
  width: 100%;
}

.img-container {
  margin: 1% 1%;
  width: 20%;
  display: inline-block;
}

table tr {
  height: 2em;
  margin: 2% 2%;
}
/*.add-book-container tr  {
  height: 2em;
}*/
.left-col {
  width: 30%;
  margin: 5px 2%;
}
.rigth-col {
  width: 70%;
  margin: 5px 2%;
}
.text-style {
  width: 100%;
  height: 2.5em;
}
.add-book-select-style {
  width: 100%;
  height: 2.5em;
}
/*img {
  width: 100px;
  height: 100px;
  top: 10%;
  right: 5%;
  position: absolute;
}*/
.body-left-nav {
  width: 20%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.body-left-nav-container {
  margin-top: 3%;
  background-color: #999;
}
.body-left-nav-container ul{
  list-style: none;
  background-color: #444;
  padding: 0;
  margin: 0;
}
.body-left-nav-container li{
  height: 40px;
  font-size: 1.5em;
  height: 40px;
  line-height: 40px;
  margin: 1em;
}
.body-left-nav-container a{
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;

}
.body-left-nav-container a:hover{
  background-color: #000;
  color: #bbb;
}

.btn{
  width: 300px;
  height: 45px;
  border: 3px solid #abcdef;
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 5px;
  /*border-radius: px;*/
}

.footer{
  height: 150px;
  background-color: #21ef55;
  margin-top: -20px;
}


.signup-login{
 /*height: 800px;*/
 width: 800px;
 top: 15%;
 left: 25%;
 position: absolute;
 margin: 0;
 /*background-color: #21ef55;*/
 border: 3px solid #c9c2bf;
 border-radius: 5px;
 /*position: relative;*/
 /*z-index: 1;*/
 padding-left: 50px;
}

.header{
  height: 100px;
  background-color: #ccc5c5;
  margin: 0;
  min-height: 100px;
  max-height: 100px;
}

.signup-login-header{
  left: 30%;
  top: 0%;
  position: relative;
  padding: 10px;
  border: 5px dotted #000000;
  width: 200px;
}
.span-validation{
  color: #ff0000;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
.span-text{
  color: #000000;
  width: 200px;
  font-family: serif;
  font-size: 22px;
  font-weight: bold;

}
td{
    min-width: 170px;
}
tr{
  margin-top: 5px;

}
.text-type{
  height: 40px;
  width: 350px;
  text-align: left;
  min-width: 350px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 500;
  border: 2px solid  #00000;
}

.btn-signup-login{
  margin-left: 100px;
  margin-top: 5px;
  padding: 2px;
  position: relative;
}

  /*book list*/
.main-body {
 width: 80%;
 height: auto;
 /*display: inline-block;*/
 padding: 0;
 margin-left: 10%;
}
.container {
 margin-top: 3%;
 background-color: #666;
 /*position: relative;*/
}
.book-image {
 height: 140px;
 width: 20%;
 border: 2px solid #879831;
 display: inline-block;
}
.img-style {
 height: 140px;
 width: 100%;
}
/*h1 {
 text-overflow: clip;
 text-align: center;
}*/
.search-container {
 width: 100%;
 height: 50px;
}
.select-style {
 width: 30%;
 float: left;
 height: 2em;
 margin: 2% 2%;
 font-size: 25px;
 font-style: normal;
 font-family: sans-serif;
 display: inline-block;
}
.search-container input {
 width: 60%;
 height: 2em;
 text-align: left;
 margin: 2% 2%;
 font-size: 25px;
 font-weight: bold;
 color: #000;
 display: inline-block;
 border: 1px solid #934353;
 border-radius: 2px;
}
.book-list-container {
 width: 90%;
 height: auto;
 margin: 5% 2%;
}
.li-book-list{
 height: 200px;
 /*height: auto;*/
 width: 100%;
 margin: 8% auto;
 list-style-type: none;
}

.book-info{
 display: inline-block;
 width: 60%;
 height: 140px;
 margin: 0px 5%;
}
label {
 font-size: 20px;
 font-style: normal;
 font-weight: 600;
 font-family: monospace;
 text-align: center;
 text-decoration: none;
 letter-spacing: 0.2em;
 word-spacing: 1px;
}
.btn-req-group {
 display: inline;
 width: 30%;
 height: 2.5em;
 margin: 0.8%;
 border: 1px solid #999;
 border-radius: 3px;
 font-size: 1em;
 font-family: monospace;
 color: #000;
 font-weight: 600;
 background-color: #888;
}

.book-info h2 {
 margin: 0;
 padding: 0;
 float: left;
 font-size: 2em;
 color: #aaa;
}

/*h2{
  text-align: center;
}
.seperation-line{
  border-top: 1px solid #00ab00;
  border-width: medium;
  max-width: 850px;
  margin-left:  10px;
}
.template-container {
    height: auto;
    width: 80%;
    text-align: center;
    overflow: scroll;
}*/
